{% extends "base.html" %}
{% block content %}
<h3>Einstellungen</h3>
<form method="POST">
    <div class="form-group">
        <label for="API_USER">Pushover API User</label>
        <input id="API_USER" class="form-control" name="API_USER" value="{{ API_USER }}" size="50">
    </div>
    <div class="form-group">
        <label for="API_TOKEN">Pushover API Token</label>
        <input id="API_TOKEN" class="form-control" name="API_TOKEN" value="{{ API_TOKEN }}" size="50">
    </div>
    <div class="form-group">
        <label for="THRESHOLD">Temperatur Limit in Grad Celsius (untere Grenze für Benachrichtigung)</label>
        <input type="number" id="THRESHOLD" class="form-control" name="THRESHOLD" value="{{ THRESHOLD }}" size="50">
    </div>
    <div class="form-group">
        <label for="HYSTERESIS">Hysterese</label>
        <input type="number" id="HYSTERESIS" class="form-control" name="HYSTERESIS" value="{{ HYSTERESIS }}" size="50">
    </div>
    <div class="form-group">
        <label for="INTERVAL">Messinterval in Sekunden</label>
        <input type="number" id="INTERVAL" class="form-control" name="INTERVAL" value="{{ INTERVAL }}" size="50">
    </div>
    <button type="submit" class="btn btn-default">Speichern</button>
    {% if settings_saved %}
    <span class="label label-success">Änderungen wurden gespeichert</span>
    {% endif %}
</form>
{% endblock %}

