{% extends "base.html" %}
{% block content %}
<body>
<form method="POST">
    API_USER: <input name="API_USER" value="{{ API_USER }}" size="50"><br>
    API_KEY: <input name="API_TOKEN" value="{{ API_TOKEN }}" size="50"><br>
    Threshold: <input name="THRESHOLD" value="{{ THRESHOLD }}" size="3"><br>
    Hysteresis: <input name="HYSTERESIS" value="{{ HYSTERESIS }}" size="3"><br>
    <input type="submit" value="Speichern">
    {% if settings_saved %}
    Änderungen wurden gespeichert
    {% endif %}
</form>
{% endblock %}

