<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Döme's Temperatur Messer</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        ${demo.css}
    </style>
    <script type="text/javascript">
        var chart;

        $(function () {
            $(document).ready(function () {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                chart = new Highcharts.Chart({
                    chart: {
                        type: 'line',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: get_initial_data
                        },
                        renderTo: 'container'
                    }, plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    title: {
                        text: 'Temperatur Messwerte'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'Random data',
                        data: []
                    }]
                });
            });
        });

        function get_initial_data() {
            $.ajax({
                url: '/readings', success: function (data) {
                    for (var i = 0; i < data.length; ++i) {
                        var x = data[i].date.$date, y = data[i].value;
                        var p = [parseInt(x), parseInt(y)];
                        chart.series[0].addPoint(p);
                        console.log(p)
                    }
                    console.log("hallo");
                    setTimeout(get_initial_data, 1000);
                }, cache: false
            });

        }

        function requestData() {
            $.ajax({
                url: '/latest',
                success: function (point) {
                    var x = point[0].date.$date, y = point[0].value;


                    var p = [parseInt(x), parseInt(y)];
                    console.log(p);
                    var series = chart.series[0],
                            shift = series.data.length > 20; // shift if the series is
                                                             // longer than 20

                    // add the point
                    chart.series[0].addPoint(p, true, shift);

                    // call it again after one second
                    setTimeout(requestData, 1000);
                },
                cache: false
            });
        }
    </script>
</head>
<body>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>
</html>
