{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    var chart, socket;

    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            chart = new Highcharts.Chart({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: get_initial_data
                    },
                    renderTo: 'container'
                }, plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Temperatur in Grad'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%H:%M:%S %d.%m.%Y', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2) + ' \xB0C';
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Boilertemperatur',
                    data: []
                }]
            });
        });
    });

    function update_newest(timestamp, temp) {
        $("#newest_temp").html(temp + "  &deg;C");
        $("#newest_time").text(moment(timestamp).format('lll'));
    }

    function get_initial_data() {
        $.ajax({
            url: '/readings', success: function (data) {
                chart.series[0].data = [];
                for (var i = 0; i < data.length; ++i) {
                    var x = data[i].date.$date, y = data[i].value;
                    if (i == 0) {
                        update_newest(x, y);
                    }
                    var p = [parseFloat(x), parseFloat(y)];
                    chart.series[0].addPoint(p, true, false);
                }
            }, cache: false
        });

    }

    $(document).ready(function () {
        moment.locale("de");
        socket = io();
        socket.on("newData", function (point) {
            point = eval(point);
            var x = point.date, y = point.value;
            var p = [parseFloat(x), parseFloat(y)];
            var series = chart.series[0];
            var shift = series.data.length > 20; // shift if the series is longer than 20
            chart.series[0].addPoint(p, true, shift);
            update_newest(x, y);
        });
    });

</script>
{% endblock %}
{% block content %}
<h3>Neuste Messung: <span id="newest_temp"></span> (<span id="newest_time"></span>)</h3><br><br>
<div id="container" style="min-width: 310px; height: 400px;"></div>
{% endblock %}
